



  
  footer {
    background-color: #b1a8ab;
    color: #fff;
    padding: 2em 0;
    font-size: 0.9em;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80vw;  // Use viewport width for responsiveness
    height: 10vh;
  
    p {
      margin: 0.5em 0;
      animation: fadeIn 1s ease-out forwards;
    }
  
    .social-icons {
      display: flex;
     
      width: 100%;
      height: 100%;
      justify-content: center;
      gap: 2rem;
      margin-top: 1em;
        
      a {
        color: #fff;
        font-size: 1.5rem;
        
  
        &:hover {
          color: blue;
          
        }
  
        i {
          transition: color 0.5s ease;
          font-size: 115%;
        }
      }
    }


    @media (max-width: 768px) {
        width: 90vw; // Adjust width for tablets and smaller devices
        height: 40vh; // Adjust height for smaller screens
    }

    @media (max-width: 480px) {
        width: 95vw; // Adjust width for mobile devices
        height: 50vh; // Adjust height for mobile devices
    }
  
    
  }
  
