.navigation {
  display: flex;
  background-color: #b1a8ab;
  border-radius: 10px;
  padding: 0;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      flex: 1;
      text-align: center;

      a {
        display: block;
        padding: 2rem 2rem;
        color: #eee;
        font-weight: bold;
        text-decoration: none;
        transition: background 0.3s;

        &:hover {
          background: linear-gradient(90deg, rgba(82,147,108,1) 0%, rgba(8,112,107,1) 17%, rgba(82,147,108,1) 98%);
          border-radius: 0.4rem;
          color: #eee;
        }
      }
    }
  }

  // Add media queries for responsiveness
  @media (max-width: 768px) {
    ul {
      flex-direction: column; // Stack the menu items vertically on smaller screens
    }

    li {
      width: 100%; // Ensure each item takes full width
    }

    a {
      padding: 1.5rem; // Reduce padding on smaller screens
    }
  }

  @media (max-width: 480px) {
    ul {
      flex-direction: column; // Ensure vertical stacking on mobile devices
    }

    a {
      padding: 1rem; // Further reduce padding for mobile devices
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;



  img {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // Add responsiveness for logo
  @media (max-width: 768px) {
    .navigation div img {
      background: red;
    }

  }

  @media (max-width: 480px) {
    width: 3rem; // Adjust logo size for mobile devices
    height: 3rem;
  }
}